<md-content>
    <md-card flex="80" flex-offset="10">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" style="align-self: center;">Disease Prediction using Machine Learning</span>
                <!-- <span class="md-subhead"></span> -->
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <br>
            <br>
            <br>
            <p align="center"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: x-large;"><strong>Who we are</strong></span></span></p>
            <p align="center"><br /> </p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: x-large;"><strong>This project has been completed under the guidance of Mr.
                            Vikas Kamra Asst. Prof. AKGEC.
                        </strong></span></span></p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: x-large;"><strong>The project is made by team of Abhishek Kumar
                            Singh(1602710006), Aditya
                            Pandey(1602710008), Ajay Kumar(1602710010) and Aviral Singh
                            Pal(1602710033).</strong></span></span></p>
            <br>
            <br>
            <br>
            <p align="center"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: x-large;"><strong>About Project</strong></span></span></p>
            <p align="center"><br /> </p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: large;">Our
                        project is about, Prediction using traditional disease risk model usually involves a machine
                        learning and supervised learning algorithm which uses training data with the labels for the
                        training of the models.</span></span></p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">Diseases that we are including in our project are common occurring
                        diseases .This increase the importance of our project. Nowadays more and more people are
                        becoming sick so it is necessary to have a software like this which will save the both time and
                        money for the people. The key points are-</span></span></p>
            <p align="justify">⦁ <span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">sophisticated, automatic, and objective algorithms for analysis of
                        high-dimensional and multimodal biomedical data.</span></span></p>
            <p align="justify">⦁ <span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">improving detection, diagnosis, and therapeutic monitoring of
                        disease.</span></span></p>
            <p align="justify">⦁ <span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">Once developed will take any more cost.</span></span></p>
            <p align="justify">⦁ <span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">Can be used by both doctors and patients .</span></span></p>
            <p align="center"><br /> </p>
            <p align="center"><br /> </p>
            <p align="center"><br /> </p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                        style="font-size: large;">Disclaimer:</span></span></p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: large;">This
                        website is made only for the educational purpose. The accuracy of the result can vary according
                        to the input. Users are advised not to take the results as final because it will give only a
                        probabilistic prediction of disease and consult a doctor according to it. It is not a substitute
                        for professional medical advice, diagnosis or treatment</span></span><em><span
                        style="color: #333333;"><span style="font-family: Helvetica, serif;"><span
                                style="font-size: medium;">.</span></span></span></em></p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: large;">No
                        warranties are given in relation to the medical information supplied on the website, and that no
                        liability will accrue to the website owner in the event that a user suffers loss as a result of
                        reliance upon the information.</span></span></p>
            <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: large;">The
                        website owner will not be liable for any direct, indirect, consequential, special, exemplary, or
                        other damages arising therefrom.</span></span></p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center">
            <md-button ng-click="vm.checkup()">Disease Prediction</md-button>
        </md-card-actions>
    </md-card>
</md-content>